<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.claudemem.watchdog-light</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/joe/github/joeblackwaslike/cc-recall/ops/watchdog/bin/watchdog-light.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/joe</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>StandardOutPath</key>
  <string>/tmp/claudemem-watchdog-light.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/claudemem-watchdog-light.err</string>
</dict>
</plist>
